body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  text-align: center;
  background-color: #242424;
  color: white;
}

.card {
  padding: 2rem;
  border-radius: 15px;
  background-color: #1a1a1a;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.btn-contador {
  margin-top: 15px;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease; 
}

.btn-contador:hover {
  background-color: #535bf2;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(100, 108, 255, 0.4);
}